@model IEnumerable<madeupu.API.Data.Entities.Project>

@{
    ViewData["Title"] = "Home";
}

<link rel="stylesheet" href="~/css/SharedStyles/ProjectCardsList.css" />
<link rel="stylesheet" href="~/css/HomeStyles/HomeIndexStyles.css" />

<div class="home">
    <div class="home__content">
        <div class="project-cards-list">
            @foreach (var item in Model)
            {
                @if (User.Identity.IsAuthenticated)
                {
                    <a href="Projects/SingleProject/@item.Id" class="project-cards-list__card">
                        <img src="@item.ImageFullPath" style="height: 100px; max-width: 120px;" />
                        <div class="project-cards-list__card-info">
                            <p class="project-cards-list__card-name">
                                @Html.DisplayFor(modelItem => item.Name)
                            </p>
                            <div class="project-cards-list__card-description">
                                <p>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </p>
                            </div>
                            <p class="project-cards-list__card-location">
                                @Html.DisplayFor(modelItem => item.City.Region.Name),
                                @Html.DisplayFor(modelItem => item.City.Region.Country.Name)
                            </p>
                        </div>
                    </a>
                }
                else
                {
                    <a href="Accounts/Login" class="project-cards-list__card">
                        <img src="@item.ImageFullPath" style="height: 100px; max-width: 120px;" />
                        <div class="project-cards-list__card-info">
                            <p class="project-cards-list__card-name">
                                @Html.DisplayFor(modelItem => item.Name)
                            </p>
                            <div class="project-cards-list__card-description">
                                <p>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </p>
                            </div>
                            <p class="project-cards-list__card-location">
                                @Html.DisplayFor(modelItem => item.City.Region.Name),
                                @Html.DisplayFor(modelItem => item.City.Region.Country.Name)
                            </p>
                        </div>
                    </a>
                }
            }

        </div>
    </div>

</div>
