@model madeupu.API.Data.Entities.Project

@{
    ViewData["Title"] = "ProjectParticipations";
}

<link href="~/css/ProjectStyles/ProjectParticipationStyles.css" rel="stylesheet" />

<h1>Administración de participaciones de @Model.Name</h1>

<div class="project-participations">
    @foreach (var item in Model.Participations)
    {
        @if (item.ParticipationType.Description != "Creador")
        {

            <div class="project-participations__item">
                <img src="@item.User.ImageFullPath" alt="Imagen de usuario" />
                <p>
                    @Html.DisplayFor(modelItem => item.ParticipationType.Description)
                </p>
                <h3>
                    @Html.DisplayFor(modelItem => item.User.FullName)
                </h3>
                <p>
                    @Html.DisplayFor(modelItem => item.Message)
                </p>
                @if (item.ActiveParticipation == true)
                {
                    <p>
                        participante activo
                    </p>
                }
                else
                {
                    <p>
                        Pendiente por aceptar solicitud
                    </p>
                }
                <div class="project-participations__item-buttons">
                    @*<a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Editar</a>
                        <button data-id="@item.Id" class="btn btn-danger deleteItem" data-toggle="modal" data-target="#deleteDialog">Borrar</button>*@
                </div>

            </div>
        }

    }
</div>