@*@model IEnumerable<madeupu.API.Data.Entities.Project>*@

@model madeupu.API.Data.Entities.Project

@{
    ViewData["Title"] = "SingleProject";
}

<link rel="stylesheet" href="~/css/ProjectStyles/SingleProyectStyles.css" />

<div class="single-project">
    <p></p>
    <div class="single-project__content">
            <div class="single-project__share">
                <a href="https://api.whatsapp.com/send?text=@string.Format("{0}://{1}{2}{3}", Context.Request.Scheme, Context.Request.Host, Context.Request.Path, Context.Request.QueryString)" target="_blank" style="text-decoration:none;">
                    <img src="~/images/Icono-whatsapp.png" alt="icono whatsapp" style="height:30px; width: 30px; margin:0.5rem;" />
                </a>
                <a href="https://www.facebook.com/sharer/sharer.php?u=@string.Format("{0}://{1}{2}{3}", Context.Request.Scheme, Context.Request.Host, Context.Request.Path, Context.Request.QueryString)" target="_blank" style="text-decoration:none;">
                    <img src="~/images/Icono-facebook.png" alt="icono facebook" style="height:30px; width: 30px; margin:0.5rem;" />
                </a>
            </div>
        @*image*@
        <div class="single-project__row">
            <img src="@Model.ImageFullPath" alt="Project image" />
        </div>
        @*name*@
        <div class="single-project__row">
            <h2 class="single-project__name">
                @Html.DisplayFor(model => model.Name)
            </h2>
        </div>
        <div class="single-project__row">
            <p class="single-project__description">
                @Html.DisplayFor(model => model.Description)
            </p>
        </div>

        <div class="single-project__about">


            <div class="single-project__about-item">
                <p class="single-project__paragraph-head">Fecha de inicio:</p>
                <p class="single-project__paragraph">
                    @Html.DisplayFor(model => model.BeginAt)
                </p>
            </div>
            <div class="single-project__about-item">
                <p class="single-project__paragraph-head">Sitio web:</p>
                <p class="single-project__paragraph">
                    @Html.DisplayFor(model => model.Website)
                </p>
            </div>
            <div class="single-project__about-item">
                <p class="single-project__paragraph-head">Dirección:</p>
                <p class="single-project__paragraph">
                    @Html.DisplayFor(model => model.Address)
                </p>
            </div>
            <div class="single-project__about-item">
                <p class="single-project__paragraph-head">Lugar de origen:</p>
                <p class="single-project__paragraph">
                    @Html.DisplayFor(model => model.City.Name),
                    @Html.DisplayFor(model => model.City.Region.Name),
                    @Html.DisplayFor(model => model.City.Region.Country.Name)
                </p>
            </div>
        </div>

        <iframe style="max-width: 100%; margin-bottom: 2rem;" width="900" height="480" src="https://www.youtube.com/embed/@Model.VideoCode" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="single-project__rating-section">
            <div class="single-project__rating-obtained">
                @if (Model.Ratings.Count > 0)
                {
                    <p> Calificación promedio: @Html.DisplayFor(model => model.AverageRating) </p>
                    <p> Con @Html.DisplayFor(model => model.RatingsNumber) calificaciones</p>
                }
                @if (Model.Ratings.Count <= 0)
                {
                    <p class="single-project__advertising"> Este proyecto aun no ha sido calificado, ¡Evalúalo y regálale un feedback! </p>
                }
            </div>
            <div class="single-project__rate-bar">
                <a asp-action="AddRate" asp-route-id="@Model.Id" class="btn btn-info">¡Quiero participar con una calificación!</a>
            </div>
        </div>
        <div class="single-project__comments-section">
            @if (Model.Comments.Count > 0)
            {
                <p class="single-project__advertising"> ¡Dale una mirada a los comentarios y animate a participar! </p>
            }
            <div style=" width: 100%; display: flex; align-items: center; justify-content: space-around; margin-bottom: 2rem;">
                <a asp-action="AddComment" asp-route-id="@Model.Id" class="btn btn-info">¡Quiero publicar un comentario!</a>
                <a class="btn btn-primary" asp-route-id="@Model.Id" asp-area="" asp-controller="Participations" asp-action="RequestParticipation">¡Quiero ser parte de este proyecto!</a>
            </div>
            <div class="single-project__comments-list">
                @if (Model.Comments.Count > 0)
                {
                    @foreach (var item in Model.Comments)
                    {
                        <div class="single-project__single-comment">
                            <div class="single-project__comment-content">
                                <div class="single-project__comment-header">
                                    <h3 class="single-project__comment-user">@Html.DisplayFor(modelItem => item.User.FullName)</h3>
                                    <p class="single-project__comment-date">@Html.DisplayFor(modelItem => item.DateLocal) </p>
                                </div>
                                <div class="single-project__comment-info">
                                    <img src="@item.User.ImageFullPath" style="height: 100px; max-width: 120px;" />
                                    <p class="single-project__comment-description"> @Html.DisplayFor(modelItem => item.Message)</p>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <p class="single-project__advertising"> Actualmente este proyecto no tiene comentarios, ¡animate y apoya ya sea con buenas ideas o palabras de aliento! </p>
                }
            </div>
        </div>
        @Html.Raw(TempData["msg"])

    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
