@*@model IEnumerable<madeupu.API.Data.Entities.Project>*@

@model madeupu.API.Data.Entities.Project

@{
    ViewData["Title"] = "SingleProject";
}

<link rel="stylesheet" href="~/css/ProjectStyles/SingleProyectStyles.css" />

<div class="single-project">
    <div class="single-project__content">
        @*image and date*@
        <div class="single-project__row">
            <img src="@Model.ImageFullPath" alt="Project image" />
        </div>
        @*name*@
        <div class="single-project__row">
            <h2 class="single-project__name">
                @Html.DisplayFor(model => model.Name)
            </h2>
        </div>
        <div class="single-project__row">
            <p class="single-project__description">
                @Html.DisplayFor(model => model.Description)
            </p>
        </div>

        <div class="single-project__about">
            <p class="single-project__paragraph-head">Fecha de inicio:</p>
            <p class="single-project__paragraph">
                @Html.DisplayFor(model => model.BeginAt)
            </p>
            <p class="single-project__paragraph-head">Sitio web:</p>
            <p class="single-project__paragraph">
                @Html.DisplayFor(model => model.Website)
            </p>
            <p class="single-project__paragraph-head">Dirección:</p>
            <p class="single-project__paragraph">
                @Html.DisplayFor(model => model.Address)
            </p>
            <p class="single-project__paragraph-head">Lugar de origen:</p>
            <p class="single-project__paragraph">
                @Html.DisplayFor(model => model.City.Name),
                @Html.DisplayFor(model => model.City.Region.Name),
                @Html.DisplayFor(model => model.City.Region.Country.Name)
            </p>
        </div>

        <div class="single-project__rating-section">
            <div class="single-project__rating-obtained">
                <p> Calificación promedio: @Html.DisplayFor(model => model.AverageRating) </p>
                <p> Con @Html.DisplayFor(model => model.RatingsNumber) calificaciones</p>
                @if (Model.Ratings.Count <= 0)
                {
                    <p class="single-project__advertising"> Este proyecto aun no ha sido calificado, ¡Evalúalo y regálale un feedback! </p>
                }
            </div>
            <div class="single-project__rate-bar">
                <a asp-action="AddRate" asp-route-id="@Model.Id" class="btn btn-info">Calificar</a>
            </div>
        </div>
        <div class="single-project__comments-section">
            <a asp-action="AddComment" asp-route-id="@Model.Id" class="btn btn-outline-info">¡Quiero publicar un comentario!</a>
            <div class="single-project__comments-list">
                @if (Model.Comments.Count > 0)
                {
                    @foreach (var item in Model.Comments)
                    {
                        <div class="single-project__single-comment">
                            <div class="single-project__comment-content">
                                <div class="single-project__comment-header">
                                    <h3 class="single-project__comment-user">@Html.DisplayFor(modelItem => item.User.FullName)</h3>
                                    <p class="single-project__comment-date">@Html.DisplayFor(modelItem => item.DateLocal) </p>
                                </div>
                                <div class="single-project__comment-info">
                                    <img src="@item.User.ImageFullPath" style="height: 100px; max-width: 120px;" />
                                    <p class="single-project__comment-description"> @Html.DisplayFor(modelItem => item.Message)</p>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <p class="single-project__advertising"> Actualmente este proyecto no tiene comentarios, ¡animate y apoya ya sea con buenas ideas o palabras de aliento! </p>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
